body {
  background-color: #dadada;
  padding: 2.26vh;
  font-size: 2.42vh; /* Set a base font size for better responsiveness */
  overflow-x: hidden;
  align-items: center;
}

#Second-Upper p {
  font-size: 2vh;
  border-bottom: 1px solid #cdcdcd;
}

.photo {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  border: 1vh solid #fff;
  text-align: center;
}

#Upper-Container,
#First-Upper,
#Second-Upper {
  list-style: none;
  display: flex; /* to horizontally align list items. */
  padding: 0;
}

#Upper-Container li,
#First-Upper li,
#Second-Upper li {
  margin-right: 7vh; /*spacing between list items */
}

#Second-Upper li p {
  margin-bottom: 3.02vh;
}

@media (max-width: 1280px) {
  #Upper-Container,
  #First-Upper,
  #Second-Upper {
    flex-direction: column;
    align-items: center;
  }

  #Upper-Container li {
    margin-right: 0;
    margin-bottom: 1.5vh;
  }

  .boxx,
  .mid-boxx,
  .middy {
    width: 100%; /* Make the mid-box take up full width on smaller screens */
    height: auto;
  }
}

.boxx {
  height: 30.25vh;
  width: 45.38vh;
  margin-bottom: 3.2vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1%;
  background-color: #fff;
}

.mid-boxx {
  height: 63.4vh;
  max-width: 75.64vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1%;
  background-color: #fff;
  align-items: center;
}

.boxx h3,
h5,
p,
li {
  margin: 1.21vh;
}

.below {
  margin: 1.21vh 0vh 0vh 0vh;
}

.boxx p {
  font-size: 1.8vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.boxx h3 {
  padding-top: 0.75vh;
  margin-bottom: 2.26vh;
}

.friends {
  height: 4.99vh;
  width: 4.99vh;
  border-radius: 50%;
}

.LeftLower {
  justify-content: center;
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}

.middy {
  background-color: #dadada;
  margin-top: 1.21vh;
  width: 75.62vh;
  height: 33.87vh;
  overflow: hidden;
}

.middy img {
  max-width: 100%;
  max-height: 50%; /* Adjust the percentage as needed */
}

.middy p {
  font-size: 1.81vh;
  margin-bottom: 0;
}

.middy textarea {
  width: 100%;
  max-height: 30%; /* Adjust the percentage as needed */
  box-sizing: border-box;
}

.main {
  align-items: center;
}

.vline,
.tline {
  position: relative;
  padding-left: 10px;
}

.vline::before,
.tline::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 1.1vh;
  height: 110%;
  transform: translateY(0%);
  z-index: -1;
  background-color: grey; /* Adjust the color of the line as needed */
  opacity: 40%;
}

.vline {
  list-style-image: url("/img/List.png");
}

.tline {
  list-style-image: url("/img/List2.png");
}

.vline li,
.tline li {
  list-style: none;
}
