<app-sidebar
  *ngIf="isUserLoggedIn; else loggedOutTemplate"
  (logoutEvent)="logout()"
></app-sidebar>
<ng-template #loggedOutTemplate>
  <div class="container mt-5 pt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-center">Register</h2>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="username"
                placeholder="Username"
                [(ngModel)]="Register.username"
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Password"
                [(ngModel)]="Register.password"
              />
            </div>
            <p class="text-danger" *ngIf="Register.errorMessage">
              {{ Register.errorMessage }}
            </p>
            <button class="btn btn-primary w-100" (click)="register()">
              Register
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mt-4 mt-md-0">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-center">Login</h2>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="username"
                placeholder="Username"
                [(ngModel)]="Login.username"
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Password"
                [(ngModel)]="Login.password"
              />
            </div>
            <p class="text-danger" *ngIf="Login.errorMessage">
              {{ Login.errorMessage }}
            </p>
            <button class="btn btn-success w-100" (click)="login()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
